<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EasyBreazyChat</title>
    <link href="/style/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#563d7c">
    <link rel="icon" href="/img/favicons/favicon.ico">
    <link rel="stylesheet" href="/style/cover.css" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">



</head>
<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">EasyBreazyChat</h3>
    </div>
  </header>
  <main role="main" class="inner cover">
    <div class="container-fluid h-100">
      <div class="container">
      	<div class="d-flex justify-content-center h-100">
      		<div class="card1">
      			<div class="card-header">
      				<h3>                                     Log In</h3>
      				<div class="d-flex justify-content-end social_icon">
                <span><i class="fab fa-vk"></i></span>
      					<span><a href="/auth/google"><i class="fab fa-google-plus"></i></a></span>
      				</div>
      			</div>
      			<div class="card-body">
      				<form>
      					<div class="input-group form-group">
      						<div class="input-group-prepend">
      							<span class="input-group-text"><i class="fas fa-user"></i></span>
      						</div>
      						<input type="text" class="form-control" placeholder="email">
      					</div>
      					<div class="input-group form-group">
      						<div class="input-group-prepend">
      							<span class="input-group-text"><i class="fas fa-key"></i></span>
      						</div>
      						<input type="password" class="form-control" placeholder="password">
      					</div>
      					<div class="form-group">
      						<input type="submit" value="Login" class="btn float-right login_btn">
      					</div>
      				</form>
      			</div>
      		</div>
      	</div>
      </div>
		</div>
  </main>
  <footer class="mastfoot mt-auto">
    <div class="credits">
      <p>Create special for <a href="https://itransition.by/"><img src="/img/favicons/itransition_logo.png" width = "90" height = "11"></a> by <a href="https://vk.com/gremmygrown">gg</a>.</p>
    </div>
  </footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>

</script>
</body>
</html>
